.div {
  background: url(https://64.media.tumblr.com/2b0ec5e7d4763b0cc6aaba6982be379c/tumblr_occujlvMQE1qze3hdo1_r2_500.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: 0;
}

/*  */
/*  */
/*  */

body {
  text-align: center;
  padding: 30px;
}

.eightbit-btn {
  background: rgba(77, 98, 214, 1);
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: red;
  box-shadow: inset -4px -4px 0px 0px rgba(77, 98, 214, 1);
}
.eightbit-btn:hover,
.eightbit-btn:focus {
  background: rgba(77, 98, 214, 1);
  box-shadow: inset -6px -6px 0px 0px rgba(77, 98, 214, 1);
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px rgba(77, 98, 214, 1);
}
.eightbit-btn:before,
.eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
.eightbit-btn--reset {
  background: #e76e55;
  box-shadow: inset -4px -4px 0px 0px #8c2022;
}
.eightbit-btn--reset:hover,
.eightbit-btn--reset:focus {
  background: #ce372b;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
}
.eightbit-btn--reset:active {
  box-shadow: inset 4px 4px 0px 0px #8c2022;
}
.eightbit-btn--proceed {
  background: #f7d51d;
  box-shadow: inset -4px -4px 0px 0px #e59400;
}
.eightbit-btn--proceed:hover,
.eightbit-btn--proceed:focus {
  background: #f2c409;
  box-shadow: inset -6px -6px 0px 0px #e59400;
}
.eightbit-btn--proceed:active {
  box-shadow: inset 4px 4px 0px 0px #e59400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/* TITLE */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(24, 24, 24);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.load {
  display: flex;
  justify-content: center;
}

.load-whole {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 60px;
}

.d,
.e,
.f {
  position: relative;
  width: 46px;
}

.i {
  position: relative;
  width: 10px;
  margin-left: 10px;
}

.e,
.f {
  margin-left: 10px;
}

.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.e1,
.e2,
.e3,
.e4,
.f1,
.f2,
.f3 {
  position: absolute;
  background-color: white;
}

.d1,
.e1,
.f1,
.i1 {
  width: 10px;
  height: 10px;
  bottom: 0;
}

.e2,
.e3,
.e4,
.f2,
.d2,
.d3,
.f3 {
  width: 0;
  height: 10px;
  left: 11px;
}

.d4 {
  width: 13px;
  max-height: 15px;
  left: 15px;
  right: 0px;
  transform: skewX(45deg);
  z-index: -1;
  top: 2px;
}

.d5 {
  width: 13px;
  max-height: 15px;
  left: 15px;
  right: 0px;
  transform: skewX(-45deg);
  z-index: -1;
  bottom: 2px;
}

.d6 {
  left: 34px;
  width: 10px;
  height: 10px;
  bottom: 15px;
}

.e2,
.d3 {
  bottom: 0;
}
.e3,
.f2 {
  bottom: 25px;
}
.e4,
.f3,
.d2 {
  bottom: 50px;
}

.i2{
  background: rgb(24, 24, 24);
  width: 10px;
  height: 1px;
  position: absolute;
  bottom: 29px;
  z-index: 1;
}

/****transitions****/

.d1 {
  transition: height 0.5s linear, box-shadow 1s 2s;
}
.d2 {
  transition: width 1s linear, box-shadow 1s 1.5s;
}
.d3 {
  transition: height 1s linear, box-shadow 1s 1.5s;
}
.d4 {
  transition: height 1s linear, margin-right 1s linear, box-shadow 1s 1s;
}
.d5 {
  transition: height 1s linear, margin-right 1s linear, box-shadow 1s 1s;
}
.d6 {
  transition: height 0.5s linear, box-shadow 1s 0.5s;
}

.i1 {
  transition: height 2s linear, box-shadow 1s 2s;
}

.e1 {
  transition: height 0.5s linear, box-shadow 1s 2s;
}
.e4 {
  transition: width 0.5s linear, box-shadow 1s 1.5s;
}
.e3 {
  transition: width 0.5s linear, box-shadow 1s 1s;
}
.e2 {
  transition: width 0.5s linear, box-shadow 1s 0.5s;
}

.f1 {
  transition: height 0.5s linear, box-shadow 1s 2s;
}
.f3 {
  transition: width 0.5s linear, box-shadow 1s 1.5s;
}
.f2 {
  transition: width 0.5s linear, box-shadow 1s 1s;
}

/**** /transitions****/

/****expand and color****/

.expandi1 {
  height: 60px;
  background-color: rgba(233, 30, 99, 0.9);
}

.expandd1 {
  height: 60px;
  background-color: rgba(77, 98, 214, 1);
}

.expandd2 {
  width: 15px;
  background-color: rgba(77, 98, 214, 1);
}

.expandd3 {
    width: 15px;
    background-color: rgba(77, 98, 214, 1);
  }

.expandd4 {
  margin-left: 10px;
  height: 60px;
  background-color: rgba(77, 98, 214, 1);
}

.expandd6 {
  height: 30px;
  background-color: rgba(77, 98, 214, 1);
}

.expande1,
.expandf1,
.expandd4 {
  height: 60px;
}

.expande4,
.expande2,
.expandf3 {
  width: 30px;
}
.expande3 {
  width: 20px;
  background-color: rgba(233, 30, 99, 0.9);
}
.expande1 {
  background-color: rgba(233, 30, 99, 0.7);
}
.expande2 {
  background-color: rgba(233, 30, 99, 1);
}
.expande4 {
  background-color: rgba(233, 30, 99, 0.8);
}

.expandf1 {
  background-color: rgba(77, 98, 214, 0.8);
}

.expandf3 {
  background-color: rgba(77, 98, 214, 0.8);
}

.expandf2 {
  width: 20px;
  background-color: rgba(77, 98, 214, 0.8);
}

.expandi1,
.expande1,
.expande2,
.expande3,
.expande4,
.expandf1,
.expandf2,
.expandf3,
.expandd1,
.expandd2,
.expandd3,
.expandd4,
.expandd5,
.expandd6 {
  box-shadow: 5px 5px 5px black;
}

/**** /expand and color****/

.l3 {
  position: absolute;
  width: 100px;
  height: 10px;
  background: rgba(77, 98, 214, 0.8);
  right: 0;
  bottom:-25px;
  opacity: 1;
  font-size: 40px;

}

.l3-1 {
  color: rgba(77, 98, 214, 0.8);
  left: 900px;
  animation: 1.1s linear 4s alternate slide forwards,
             1s linear 5.6s alternate fade 6.2;
  animation-timing-function: cubic-bezier(.3,-0.38,.71,1.17);
  
}
.l3-2 {
  color: rgba(233, 30, 99, 0.9);
  left: 900px;
  animation: 1.1s linear 4.2s alternate slides forwards,
             1s linear 5.8s alternate fades 6.2;
  animation-timing-function: cubic-bezier(.3,-0.38,.71,1.17);
}
.l3-3 {
  color: rgba(77, 98, 214, 0.8);
  left: 900px;
  animation: 1.1s linear 4.4s alternate slidess forwards,
             1s linear 6s alternate fadess 6.2;
  animation-timing-function: cubic-bezier(.3,-0.38,.71,1.17);
}

.l3-4 {
  color: rgba(233, 30, 99, 0.9);
  left: 900px;
  animation: 1.1s linear 4.6s alternate slidesss forwards,
             1s linear 6.2s alternate fadesss 6.2;
  animation-timing-function: cubic-bezier(.3,-0.38,.71,1.17);
}

@keyframes slide {
  from {
    left: 900px;
  }
  to {
    left: -190px;
  }
}
@keyframes slides {
  from {
    left: 900px;
  }
  to {
    left: -150px;
  }
}
@keyframes slidess {
  from {
    left: 900px;
  }
  to {
    left: -110px;
  }
}
@keyframes slidesss {
  from {
    left: 900px;
  }
  to {
    left: -70px;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fades {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadess {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadesss {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}